.primary {
  color: #0088ce;
}

.primary-dark {
  color: #00659c;
}

.primary-light {
  color: #39a5dc;
}

.primary-bg {
  background-color: #0088ce;
}

.primary-dark-bg {
  background-color: #00659c;
}

.primary-light-bg {
  background-color: #39a5dc;
}

.secondary {
  color: #72767b;
}

.secondary-dark {
  color: #292e34;
}

.secondary-light {
  color: #ededed;
}

.secondary-bg {
  background-color: #72767b;
}

.secondary-dark-bg {
  background-color: #292e34;
}

.secondary-light-bg {
  background-color: #ededed;
}

.success {
  color: #3f9c35;
}

.success-dark {
  color: #1e4f18;
}

.success-light {
  color: #9ecf99;
}

.success-bg {
  background-color: #3f9c35;
}

.success-dark-bg {
  background-color: #1e4f18;
}

.success-light-bg {
  background-color: #9ecf99;
}

.danger {
  color: #8b0000;
}

.danger-dark {
  color: #470000;
}

.danger-light {
  color: #cc0000;
}

.danger-bg {
  background-color: #8b0000;
}

.danger-dark-bg {
  background-color: #470000;
}

.danger-light-bg {
  background-color: #cc0000;
}

.warning {
  color: #ec7a08;
}

.warning-dark {
  color: #b35c00;
}

.warning-light {
  color: #f39d3c;
}

.warning-bg {
  background-color: #ec7a08;
}

.warning-dark-bg {
  background-color: #b35c00;
}

.warning-light-bg {
  background-color: #f39d3c;
}

.background {
  background-color: #fafafa;
}

.highlight {
  color: #fafafa;
}
