body {
  margin: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-justify-right {
  justify-content: right;
}

.flex-justify-left {
  justify-content: left;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-end {
  justify-content: flex-end;
}

.border {
  border: solid 2px;
}


/*header {
  background: red;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 1rem;
}

footer {
  background: blue;
  padding: 1rem;
  text-align: center;
}

. {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}*/


.grid-layout-default{
    display: grid;
    grid-template-columns: 1 / 2;
    grid-template-rows: 5% 1fr 5%;
    height: 100%;
}

.grid-default-navbar{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .grid-layout-horizontal-split{
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  }

  .grid-area-horizontal-split-top{
      grid-row: 1 / 2;
      grid-column: 1 / 2;
  }

  .grid-area-default-content{
      grid-row: 2 / 3;
      grid-column: 1 / 2;
  }

  .grid-area-default-footer{
      grid-row: 3 / 4;
      grid-column: 1 / 2;
  }

  .grid-layout-vertical-split {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
  }
